main{
   
    background-color: black;
}

main section{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 60vh;
   
}

h1{
    display: flex;
    text-align: center;
    color: white;
    
  
}

.box1{
    
    color: #e1c580;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    
}


.box2{
    background-image: url("https://uploads-ssl.webflow.com/584f09eadce423111be98f55/5c9ab9b194b20fb9b0eb0569_Qantas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
    
}

.box3{
    background-image: url("https://uploads-ssl.webflow.com/584f09eadce423111be98f55/5cc011ec8527e930fb397d97_Opal%20Tile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    
    
}

.box4{
    background-image: url("https://uploads-ssl.webflow.com/584f09eadce423111be98f55/5864860c660c5f57392f8651_CrownImageHeader.jpg");
    background-position: 100% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    
}

.box5{
    background-image: url("https://uploads-ssl.webflow.com/584f09eadce423111be98f55/58f5965f4f7ec82b19b362bf_SafeTile4.jpg");
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    
}

.grid2{
    margin-top: 150px;
    
}
.box6{
    background-color: black;
    color: #e1c580;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    
}

.box7{
    background-image: url("https://uploads-ssl.webflow.com/584f09eadce423111be98f55/5865e4159e70b4d163350d31_Carefree3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
}

.box8{
    background-image: url("https://uploads-ssl.webflow.com/584f09eadce423111be98f55/58648c8c743316b605bd9fb5_FarmersMarketHeader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    
}

.box9{
    background-image: url("https://uploads-ssl.webflow.com/584f09eadce423111be98f55/584f09eadce423111be98f7a_Work_Image5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    
}

.box10{
    background-image: url("https://uploads-ssl.webflow.com/584f09eadce423111be98f55/5865bfd6b154828e6313e8d4_V3-HeaderShowcase.jpg");
    background-position:cover ;
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    
}
.box21 h1{
   
    font-weight: 100;
    padding-top: 150px;
    padding-left: 250px;
   
 }
 .box21{
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    height: 520px;
 }

 .box31 h1{color: white;
    font-weight: 100;
    padding-top: 150px;
    padding-left: 250px;
 }

 .box31{
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    height: 520px;
 }
 .box41 h1{
   
    font-weight: 100;
    padding-top: 200px;
    padding-left: 250px;
 }
 .box41{
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    height: 520px;
 }
 .box51 h1{
    
    font-weight: 100;
    padding-top: 150px;
    padding-left: 250px;
 }
 .box51{
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    height: 520px;
 }
